audio {
	outline:none;
	opacity: 80%;
	margin-top:20px;
}

body {
	background-image: url(./tetris1.jpg);
	background-size: 90%;
	background-position: center;
		width: 100%;
		height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#h3 {
	color:white;
}

.grid {

    margin-top: 10px;
	height: 500px;
	width: 250px;
	position: static;
	background-color: #1a1a1a;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


}

.grid div {
	height: 25px;
	width:25px;
	color: black;
	text-align: center;


}

.figure {
	background-color: #f2c01b;
}

